$margin-sm: 8px;
.home {
    img.profile {
        @media (max-width: 576px) { 
            max-height: 200px;
        }
    } 
}

body {
    margin: $margin-sm auto;
    max-width: 800px;
}

.site-footer {
    .social {
        .fa {
            color: #212529;
            margin: $margin-sm;
        }
    }
}